<% @title = "liste"%>
<h2>Liste der Favoriten</h2>
<ul>
<%= @bookmarks.each do |bookmark|%>
	<%= render :partial => @bookmarks%>
<%end%>
</ul>
<% if admin? %>	
	<p>
		<%= link_to "Neuen Favorit erstellen", :action => "new"%>
	</p>
<% end %>